/* src/animais/Animais.css e src/natureza/Natureza.css */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .gallery-item {
    margin: 10px;
    cursor: pointer;
  }
  
  .gallery-item img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
    object-fit: cover; /* Faz a imagem se ajustar ao contêiner */
    border-radius: 8px; /* Bordas arredondadas, opcional */
    transition: transform 0.2s; /* Transição para efeito hover */
  }
  
  .gallery-item img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  }
  