/* src/image/ImageDetail.css */

.image-detail {
    text-align: center;
    margin: 20px;
}

.large-image {
    max-width: 80%; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 10px; /* Bordas arredondadas, opcional */
}
