/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
}
.App h1{
  display: flex;
  justify-content: center;
  margin-left: 700px;
  margin-bottom: 700px;
  text-shadow: 0px 0px 2px red;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.2s;
}

.gallery-image:hover {
  transform: scale(1.05);
}